img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 350px;
}

h1 {
  color: blue;
  text-align: center;
  font-style: Book Antigua;
}

.boxed {
	background-color: grey;
	padding: 10px;
	border: 1px solid green;
	width: 400px;
	height: 50px;
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
	text-indent: auto;
}

li	{
	list-style-type: none;
}