img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 350px;
}

h1 {
  color: maroon;
  text-align: center;
  font-style: Book Antigua;
  font-size: 64;
}

.boxed {
	background-color: green;
	padding: 10px;
	border: 1px solid grey;
	width: 300px;
	height: 50px;
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
	text-indent: auto;
}

.none {
	list-style: none;
}

.list {
	list-style: lower-roman;
	margin-left: 20px;

} 

h2{
	text-align: center;
	color: maroon;
}

.style{
	color: maroon;
}

body {
	background-color: teal;
}

.important{
	color: blue;
}